.class {
  color: #222222;     color: #2E303EB3;
  color: #797979;     color: #6C6F934D;
  color: #6C6F9380;   color: #09F7A01A;
  color: #6C6F931A;   color: #43474b46;
  color: #4d3535;     color: #1C1C1C;
  color: #D5D8DA80;   color: #6C6F9300;
  color: #2E303EB3;   color: #6C6F93;
  color: #b5b5b5;     color: #6dbb46;
  color: #83df55;     color: #ffed91;
  color: #e6d582;     color: #ecd484;
  color: #dbd348;     color: #B877DBE6;
  color: #C74DED;     color: #9CDCFE;
  color: #66D9EF;     color: #83d4ff;
  color: #8AD7FF;     color: #569CD6;
  color: #0670e0;     color: #25B0BCE6;
  color: #4EC9B0;     color: #608B4E;
  color: #D7BA7D;     color: #BBBBBB;
  color: #D4D4D4;     color: #B5CEA8;
  color: #CE9178;     color: #F09483E6;
  color: #FAB795E6;   color: #fcb08ae6;
  color: #FAB38E;     color: #FAB795;
  color: #e97555;     color: #F09483E6;
  color: #3f3a3a;     color: #F43E5C80;
  color: #EE64AC;     color: #E95378;
  color: #E95678E6;   color: #ee582f;
  color: #F43E5C;     color: #ff3300;
  color: #ff0101;     color: #d81111;
  color: #db2e2e;     color: #ef1a28;
  color: #F92672;     color: #21BFC280;
  color: #09F7A080;   color: #27D79780;
  color: #333333;     color: #2e2e2e;
  color: #262626;     color: #999999;
  color: #252526;     color: #d4e1e1;
  color: #D5D8DAB3;   color: #242424;
  color: #292929;     color: #000000;
  color: #2E303E;     color: #26BBD9;
  color: #3FC4DE;     color: #6BE4E6;
  color: #3FDAA4;     color: #F075B5;
  color: #dddddd;        color: #59E1E3;
  color: #29D398;     color: #E95678;
  color: #800000;     color: #21BFC2B3;
  color: #F43E5CB3;   color: #16161C;
  color: #43474b7e;   color: #D5D8DA;
  color: #E9436D;     color: #353535;
  color: #424242;     color: #E9436D80;
  color: #0664a781;   color: #43474b;
  color: #1A1C23;     color: #232530;
  color: #D5D8DA4D;   color: #ff0000
}

#id {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
}

div {
  display: flex;
  margin: 1em;
}

.pseudo:after,
.child:nth-child(1),
.state:hover {
  padding: calc();
}