.class {
  color: #1c1c1d;
  color: #2E303EB3;
  color: #E95378;
  color: #797979;
  color: #6C6F934D;
  color: #6C6F9380;
  color: #ef1a28;
  color: #09F7A01A;
  color: #F92672;
  color: #b5b5b5;
  color: #83df55;
  color: #ffed91;
  color: #CE9178;
  color: #C74DED;
  color: #83d4ff;
  color: #608B4E;
  color: #4EC9B0;
  color: #D7BA7D;
  color: #8ad7ff;
  color: #BBBBBB;
  color: #D4D4D4;
  color: #B5CEA8;
  color: #E95678E6;
  color: #569CD6;
  color: #25B0BCE6;
  color: #F09483E6;
  color: #FAB795E6;
  color: #9CDCFE;
  color: #B877DBE6;
  color: #FFFFFF;
  color: #6C6F931A;
  color: #43474b46;
  color: #ff0101;
  color: #2E303E80;
  color: #1C1C1C;
  color: #D5D8DA80;
  color: #6C6F9300;
  color: #2E303EB3;
  color: #6C6F93;
  color: #21BFC280;
  color: #09F7A080;
  color: #F43E5C80;
  color: #ee582f;
  color: #27D79780;
  color: #ff3300;
  color: #27D797B3;
  color: #F43E5C1A;
  color: #333333;
  color: #0670e0;
  color: #2e2e2e;
  color: #262626;
  color: #999999;
  color: #EE64AC;
  color: #252526;
  color: #d4e1e1;
  color: #D5D8DAB3;
  color: #242424;
  color: #292929;
  color: #FAB38E;
  color: #000000;
  color: #2E303E;
  color: #26BBD9;
  color: #3FC4DE;
  color: #6BE4E6;
  color: #3FDAA4;
  color: #F075B5;
  color: #d81111;
  color: #fff;
  color: #59E1E3;
  color: #29D398;
  color: #E95678;
  color: #FAB795;
  color: #8b6c6c;
  color: #21BFC2B3;
  color: #F43E5CB3;
  color: #16161C;
  color: #43474b7e;
  color: #D5D8DA;
  color: #E9436D;
  color: #353535;
  color: #424242;
  color: #E9436D80;
  color: #0664a781;
  color: #43474b;
  color: #e97555;
  color: #1A1C23;
  color: #232530;
  color: #ecd484;
  color: #F43E5C;
  color: #dbd348;
  color: #D5D8DA4D;
  color: #F09483E6;
}

#id {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
}

div {
  display: flex;
  margin: 1em;
}

.pseudo:after,
.child:nth-child(1),
.state:hover {
  padding: calc();
}
